
    @define-color background #12131f;
    @define-color foreground #d7b7bb;
    @define-color regular0 #1a1d45;
    @define-color regular1 #ff4e4e;
    @define-color regular2 #7eb564;
    @define-color regular3 #eaad64;
    @define-color regular4 #7a89ec;
    @define-color regular5 #b66cdc;
    @define-color regular6 #6cac99;
    @define-color regular7 #d7b7bb;
    @define-color bright0 #323884;
    @define-color bright1 #fd5d5d;
    @define-color bright2 #7eb564;
    @define-color bright3 #eaad64;
    @define-color bright4 #7a89ec;
    @define-color bright5 #b66cdc;
    @define-color bright6 #6cac99;
    @define-color bright7 #d7b7bb;

.picker {
    color: #12131f; /* @background */
    color: #d7b7bb; /* @foreground */
    color: #1a1d45; /* @regular0 */
    color: #ff4e4e; /* @regular1 */
    color: #7eb564; /* @regular2 */
    color: #eaad64; /* @regular3 */
    color: #7a89ec; /* @regular4 */
    color: #b66cdc; /* @regular5 */
    color: #6cac99; /* @regular6 */
    color: #d7b7bb; /* @regular7 */
    color: #323884; /* @bright0 */
    color: #fd5d5d; /* @bright1 */
    color: #7eb564; /* @bright2 */
    color: #eaad64; /* @bright3 */
    color: #7a89ec; /* @bright4 */
    color: #b66cdc; /* @bright5 */
    color: #6cac99; /* @bright6 */
    color: #d7b7bb; /* @bright7 */
    color: #323440;
}

* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: "JetBrains Mono Regular Nerd Font", FontAwesome; */
    font-family: "SFMono Nerd Font", FontAwesome;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background-color: @background;
    color: @foreground;
    /* border: 1px solid rgba(204, 36, 29, 0.2); */
    border: 1px solid rgba(87, 91, 112, 0.3);
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    /* color: #928374; */
    color: @foreground;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: transparent;
    box-shadow: inset 0 -3px @regular1;
}

#workspaces button.focused {
    color: @regular1;
    /* color: #000000; */
    box-shadow: inset 0 -3px transparent;
}

#workspaces button.urgent {
    color: @regular1;
}

#mode {
    color: @regular1;
    border-bottom: 3px solid @regular1;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 8px;
    margin: 0 4px;
}

#window,
#workspaces {
    margin: 0 4px;
}
#window {
    /* color: #4F4F4F; */
    color: @regulars7;
    font-family: "SF Pro Display";
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 10px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 10px;
}

#clock {
    color: @regular7;
    /* padding-right: 50px; */
    /* padding: 0; */
    /* margin: 0; */
    padding-right: 0.43em;
}
.modules-right > widget:last-child > #clock {
    /* color: #ebdbb2; */
    padding-right: 10px;
    padding-left: 0;
}
#battery {
    color: @regular3;
}

#battery.charging {
    color: @regular2;
}

@keyframes blink {
    to {
        background-color: transparent;
        color: @regular1;
    }
}

#battery.critical:not(.charging) {
    /* background-color: #cc241d;
    color: #000000; */
    
    animation-name: blink;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
}

#cpu {
  padding: 0 0 0 5px;
}
#memory {
  padding: 0 5px 0 5px;
}

#memory,
#cpu {
  color: @regular5;
  /* color: var(--regular2) */
}

#backlight {
    color: @regular4;
}

#network.wifi {
    color: @regular2;
}
#network.disconnected {
    color: @regular1;
}

#pulseaudio {
    color: @regular7;
}

#pulseaudio.muted {
    color: @regular0;
}

#temperature {
    color: @regular5;
    padding-right: 0;
    margin-right: 0;
}

#temperature.critical {
    color: @regular1;
}

#tray {
}

#idle_inhibitor {
    /* color: ; */
}

#idle_inhibitor.activated {
    color: @regular1;
}

#language {
    color: @regular5;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

